.boton-clear{
    height: 80px;
    font-size: 1.6em;
    display: flex;
    flex: 1 1 ;
    background-color: #ac0246;
    justify-content: center;
    align-items: center;
    margin-top: 8px;
    font-weight: bold;
    color: #fff;
    border: 2px solid #fff;
    border-radius: 35px;
    cursor: pointer;
} 
.boton-clear:hover{
    background-color: gold;
    color: #000;
    border: 2px solid #000;
}